:root{
  --first-color:rgb(215, 232, 254);
  --second-color:white;
  --third-color:#FFFE99;
  --border-radius: 5px;
}

body{
  background-color: var(--first-color);
}

.container{
width: 700px;
margin: 0 auto;
background-color: var(--second-color);
padding: 20px;
border-radius: var(--border-radius);
}

h1, .me, nav{
  text-align: center;
}

img{
  border-radius: var(--border-radius); 
}
img:hover{
  transform: scale(1.2);
}
p{
  text-align:justify;
  font-family: sans-serif;
  font-size: 15px;
}
form {
  max-width: 400px;
  padding: 20px;
  border: 2px solid black;
  border-radius: var(--border-radius);
  background-color: var(--first-color);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

input:focus, .textarea:focus{
  background-color: var(--third-color);
}

button {
  border-radius: var(--border-radius);
  margin-top: 10px;
}
button:hover {
  background-color: rgb(64, 64, 136);
  color: white;
  cursor: pointer;
}

.gmail{
  font-size: 18px;
}

footer{
  margin-top: 20px;
  font-size: 14px;
  font-family: cursive;
  text-align: center;
}